section{
	width: 300px;
	height: 250px;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 10px 0 10px 0;
	background-color: #D69B7D;
	color: #F8E5C4;
	float: left;
	position: relative;
	box-shadow: 8px 0 0 0 #BE5E6A;
	margin-left: 40px;
}	

section img{
	border:2px solid #fff;
	border-radius: 10px;
	display: block;
	margin-top: 15px;
	position: relative;
	left:70px;
}

section form{
	display: inline;
}

.product-name{
	position: relative;
	width: 200px;
	top: 15px;
	left: 45px;
	padding: 2px;
	background-color: #D77260;
	display: block;
	text-align: center;
}

.price-tag{
	padding: 3px;
	font-size: 17px;
	font-style: italic;
}

.product-info{
	position: absolute;
	bottom: 20px;
	right: 2%; 
}