section{
	width:30%;
	float: left;
	height:300px;
	margin-bottom: 30px;
	margin-right: 50px;
	margin-left: 50px;
	padding-right: 10px;
	padding-top:5px;
	border: 2px solid #2980b9;
	padding-left: 10px;
	text-align: center;
	position: relative;
	background-color: #3498db;
	border-radius: 20px;
	box-shadow: 0px 2px 2px 0px #2980b9;
}

section:hover{
	box-shadow: 0px 2px 2px 0px #2c3e50;
}

section form{
	display: inline;
}

section img{
	border:2px solid #fff;
	padding: 10px; 
	position: relative;
	margin-top: 28%;
	margin-bottom: 30%;
	border-radius: 10px;
}

.product-name{
	position: absolute;
	width: 200px;
	top: 15px;
	left: 30px;
	padding: 2px;
	background-color: #fcfcfc;
	border-radius: 10px;
}


.product-info{
	position: absolute;
	bottom: 20px;
	right: 2%; 
}

.price-tag{
	color:#eee;
	padding: 3px;
	font-size: 17px;
	font-style: italic;
}

