/* FONTS */
@font-face {
    font-family: open-sans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight:300;
}
@font-face {
    font-family: logo;
    src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight.ttf');
}

/*	BODY 	*/
html, body{
	margin: 0;
	padding: 0; 
	background-color: #f7f7f7;
	font-family: 'open-sans', sans-serif;
	color:#828285;
	font-size: 14px;
}

h1, h2, h3 {
	padding:0 0 1px 17px; 
	border-left: 20px solid #2980b9;
	border-bottom: 2px solid #2980b9;
	width: 80px;
}


/*	LINKS	*/
a, a:link, a:visited{
	text-decoration: none;
	color: #1E262B;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 11px;
	padding: 5px;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

a:hover{
	background-color: #39434A;
	color: #eee;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}


/*	HEADER	*/
header{
	background-color: #2980b9;
	box-shadow: 0px 0px 4px 0px #2980b9;
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	color:#fcfcfc;

}

/*	LOGO	*/
.logo{
	position: absolute;
	top: 20px;
	left: 8%;
	border: 1px solid transparent;
	width: 200px;
	font-family: 'logo', sans-serif;
	letter-spacing: 3px;
	font-size: 18px;
	font-style: italic;
}

.logo a{
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	text-transform: inherit;
}	

/*	widget	*/
.widget{
	position: absolute;
	top: 30px;
	right:100px;
	border: 1px solid transparent;
}

/* user widget */
.user {
	width:150px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
}
.user button{
	float:right;
	min-width: 75px;
	letter-spacing: 0px;
}
.user img{
	width: 58px;
	height: 48px;
	border:2px solid #fff;
	float:left;
}

/* container */
.container{
	position: relative;
	float: left;
	margin-left: 18%; 
	width: 800px;
	border: 1px solid transparent;
	background-color: inherit;
	padding-left: 50px;
}

.error{
	color:#D64F4F;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
}

.success{
	color:#55A4D9;
}

button{
	background-color: #fcfcfc;
	color: #2980b9;
	margin-top: 5px;
	border-radius: 10px;
	letter-spacing: 1px;
	font-size: 12px;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

button:hover {
	border-radius: 4px;
	background-color: #2980b9;
	color: #fff;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}