/* FONTS */
@font-face {
    font-family: open-sans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight:300;
}
@font-face {
    font-family: logo;
    src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight.ttf');
}

/*	BODY 	*/
html, body{
	margin: 0;
	padding: 0; 
	background-color: #F8E5C4;
	font-family: 'open-sans', sans-serif;
	color:#D77260;
	font-size: 14px;
}

h1, h2, h3 {
	/*border-left: 15px solid #2980b9;*/
	text-align: center;
	border-bottom: 2px solid #D77260;

}
/*	LINKS	*/
a, a:link, a:visited{
	color: #D77260;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 11px;
	padding: 5px;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

a:hover{
	background-color: #D69B7D;
	color: #F8E5C4;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}


/*	HEADER	*/
header{
	background-color: #BE5E6A;
	height: 100%;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 20px 0 30px;
	/*box-shadow: 0px 0px 8px 0px #BE5E6A;*/
	border-right:15px solid #D77260;
	color:#F8E5C4;
}

/*	LOGO	*/
.logo{
	font-family: 'logo', sans-serif;
	letter-spacing: 5px;
	font-style: italic;
	font-size: 22px;
}

.logo h1{
	padding:0 0 0 22px;
	margin-bottom: -5px;
	border-bottom: 2px solid #D69B7D; 
}

.logo a{
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	text-transform: inherit;
	letter-spacing: 5px;
}
.logo a:hover{
	background-color: transparent;
}

header hr{
	color: #F8E5C4;
	margin-bottom: 10px;
	box-shadow: none;
}

header button{
	background: #ffe3b5;
	  background-image: -webkit-linear-gradient(top, #ffe3b5, #F8E5C4);
	  background-image: -moz-linear-gradient(top, #ffe3b5, #F8E5C4);
	  background-image: -ms-linear-gradient(top, #ffe3b5, #F8E5C4);
	  background-image: -o-linear-gradient(top, #ffe3b5, #F8E5C4);
	  background-image: linear-gradient(to bottom, #ffe3b5, #F8E5C4);
	  color: #BE5E6A;
	  text-decoration: none;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

header button:hover {
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

/*	widget	*/
.widget{
	width: auto;
	margin-top: 20px;
	padding: 5px 0 5px 0;
}

/* user widget */
.user {
	width:150px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
}

.user img{
	width: 100px;
	height:95px;
	display: block;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border:3px solid #F8E5C4;
	margin-left: 12%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.user button{
	float:right;
	min-width: 75px;
	letter-spacing: 0px;
}

/* container */
.container{
	position: absolute;
	top: 50px;
	left: 250px;
	width: 750px;
}

.error{
	color:#CF280A;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
}

.success{
	color:#D9D79A;
}


button{
	color: #F8E5C4;
	background: #BE5E6A;
	text-decoration: none;
	min-width: 50px;
}
