html, body{
	margin: 0;
	padding: 0; 
	background-color: #f7f7f7;
	font-family: 'open-sans', sans-serif;
	color:#828285;
	font-size: 14px;
}
/*	LOGO	*/
.logo{
	position: absolute;
	top: 20px;
	left: 8%;
	border: 1px solid transparent;
	width: 200px;
	font-family: 'logo', sans-serif;
	letter-spacing: 3px;
	font-size: 18px;
	font-style: italic;
}

.logo a{
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	text-transform: inherit;
}	

.form {
position: absolute;
 width:600px;
 height:400px;
 top:50%;
 left:45%;
 margin:-100px 0 0 -200px;

}


input{
	background-color: #fcfcfc;
	color: #2980b9;
	margin-top: 5px;
	border-radius: 10px;
	letter-spacing: 1px;
	font-size: 15px;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

input:hover {
	border-radius: 4px;
	background-color: #2980b9;
	color: #fff;
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}
.widget{
	position: absolute;
	top: 30px;
	right:100px;
	border: 1px solid transparent;
}

